##### Boring import stuff

In [2]:
import logging
import boto3
from botocore.exceptions import ClientError
from botocore.exceptions import NoCredentialsError
import os
import json
from datetime import datetime
import numpy as np
import pandas as pd
import re
import time

# Summary

This notebook defines a pipeline to upload receipts to AWS S3, then process the stored objects through AWS Textract Analyze Expense. The Textract output is condensed to remove excess data, leaving only the extracted text in a simplified JSON format. This condensed data is saved to a DataFrame and exported to an Excel sheet for use in the next steps. By storing the condensed output, the need for repeatedly processing receipts with Textract is reduced, saving both time and money.<br><br>

The condensed output is then parsed using key checks and regex to extract the receipt's date and total amount, which are written back to the DataFrame for accuracy verification. A prompt is generated from the condensed output and used to invoke foundation models on AWS Bedrock. This notebook evaluates three models: Llama 3.1 8B Instruct, Amazon Titan Text Express, and Llama 3.1 70B Instruct. The results, including extracted fields and predicted categories, are saved in a DataFrame and stored in Excel spreadsheets. 
The Llama models were prompted by the prompt that specifies System and Instruction fields; Amazon with the other.

# First set of functions

The first set of operations will read into a data frame a .csv file in the format:

| **Column Name**       | **Description**                                                                                  | **Data Type** | **Example Value**                 |
|------------------------|--------------------------------------------------------------------------------------------------|---------------|----------------------------------------------|
| `receipt_extract`      | Raw extracted text or data from the receipt.                                                    | `string`      | Uh, there are really big so no example :)     |
| `object_name`          | Name of the object or entity identified from the receipt.                                       | `string`      | "Supplies40.jpg"                              |
| `date`                 | Transaction date                                                                                | `string`      | "09/10/1900"                        |
| `subtotal`             | The subtotal for the object, typically excluding taxes or discounts.                            | `float`       | 10.00                             |
| `total`                | The total amount associated with the object, including taxes or discounts if applicable.        | `float`       | 12.00                             |
| `category`             | The manually defined category to which the object belongs.                                      | `string`      | "Meals"                       |
|------------------------|-------------------------------------------------------------------------------------------------|---------------|--------------------------------|

The values in object_name must correspond to a jpg file of the same name saved in ~/data/ and an object that is stored or to be stored on S3 in bucket_name.

# *** Input bucket and location of .csv here ****

## Run these next few cells to simply import a .csv file into a dataframe.

In [5]:
bucket_name = "test-bucket-cnevares-2024"
filename = r'data/Spreadsheets/receipts_test.csv'

#### Fire up the dataframe

In [6]:
receipts = pd.read_csv(filename)
receipts.head()

,receipt_extract,object_name,date,subtotal,total,category,extracted_date,extracted_total,predicted_category
0,"{""NAME"": ""DELTA"", ""INVOICE_RECEIPT_DATE"": ""22S...",Airfare1.jpg,09/22/2024,45.00,45.00,Travel,09/22/2024,45.00,NaN
1,"{""NAME"": ""Alaska Airlines Alaska Fairbanks ANC...",Airfare2.jpg,11/13/2024,545.11,614.69,Travel,11/13/2024,614.69,NaN
2,"{""NAME"": ""National."", ""items"": {""item0"": ""TIME...",CarRental1.jpg,12/15/2024,355.00,505.63,Travel,12/15/2024,505.63,NaN
3,"{""AMOUNT_PAID"": ""$0.00"", ""items"": {""item0"": ""C...",CarRental2.jpg,01/01/1900,173.14,173.14,Travel,01/01/1899,173.14,NaN
4,"{""ADDRESS"": ""BOZEMAN INTL ARPT\n850 GALLATIN F...",CarRental3.jpg,12/20/2024,272.83,319.18,Travel,01/01/1899,319.18,NaN

## Continue on with first set of functions

#### Load up the functions

In [3]:
def upload_file_to_s3(file_name, bucket_name, object_name=None):
    """
    Uploads a file to an S3 bucket.
    
    :param file_name: Path to the file to upload
    :param bucket_name: Name of the S3 bucket
    :param object_name: S3 object name. If not specified, file_name is used
    :return: a string of the response
    """
    # If S3 object_name was not specified, use file_name
    if object_name is None:
        object_name = file_name

    # Initialize the S3 client
    s3 = boto3.client('s3')

    
    try:
        with open(file_name, "rb") as file_data: # Uploading the FILE CONTENTS not the filepath
            response = s3.put_object(
                Body=file_data,
                Bucket=bucket_name,
                Key=object_name,                # This is the what the file will be called in S3
            )
        s = response
        return s
    except FileNotFoundError:
        print(f"The file {file_name} was not found.")
    except NoCredentialsError:
        print("AWS credentials not available.")

In [4]:
# Analyze a receipt in an S3 bucket

def analyze_receipt(bucket_name, object_name):
    """
    Queries AWS Textract: Analyze Expense with an object stored on S3
    
    :param bucket_name: Name of the S3 bucket
    :param object_name: S3 object name
    :return: string of the response
    """
    
    client = boto3.client('textract')

    try:
        response = client.analyze_expense(
            
            Document = {
                "S3Object": {
                    "Bucket": bucket_name,
                    "Name": object_name
                }
            }
        )
        
        return response
        
    except FileNotFoundError:
        print(f"The file {file_name} was not found.")
    except NoCredentialsError:
        print("AWS credentials not available.")

In [5]:
def condense_textract(text_extract, exclude = []):
    
    """
    Converts the large json response from Textract into a smaller dictionary.
    Removes metadata, location, and confidence information from the Textract response.
    
    :param text_extract: json return of AWS Textract operation
    :param exclude: list of keys to exclude
    :return: the new dictionary
    
    """
    condensed_extract = {}

 
    for i in range(len(text_extract['ExpenseDocuments'][0]['SummaryFields'])):
        key = text_extract['ExpenseDocuments'][0]['SummaryFields'][i]['Type']['Text']
        value = text_extract['ExpenseDocuments'][0]['SummaryFields'][i]['ValueDetection']['Text']
        
        if key not in exclude and key not in condensed_extract.keys():
                condensed_extract[key] = value

        else:
            temp = " " + value
            condensed_extract[key] += temp
        
        if len(text_extract['ExpenseDocuments'][0]['LineItemGroups'][0]['LineItems'])> 0:
            condensed_extract['items'] = {}
            for j in range(len(text_extract['ExpenseDocuments'][0]['LineItemGroups'][0]['LineItems'][0]['LineItemExpenseFields'])):
                value = text_extract['ExpenseDocuments'][0]['LineItemGroups'][0]['LineItems'][0]['LineItemExpenseFields'][j]['ValueDetection']['Text']
                condensed_extract['items']['item'+str(j)] = value
    
    return condensed_extract

In [6]:
def post_to_s3_analyze_receipt(dataframe, bucket_name, start = 0):

    """
    Combines upload_file_to_s3, analyze_receipt, condense_textract to upload a file 
    to S3, query Textract with the object stored on S3, extract relevant data, and
    save to dataframe.

    *** Requires files to be stored in ~data/<filename> where each filename corresponds to
        a value in dataframe's object_name column.        
    
    :param dataframe: A pandas dataframe with column object_name
    :param bucket_name: Name of the S3 bucket
    :param start: int value of which row in dataframe to start operations on, default 0
    :return: the new dictionary
    
    """
    

    
    for i in range(start, len(dataframe)):
        
        object_name = dataframe.loc[i, 'object_name']
        file_name = 'data/' + str(object_name)

        # Upload to S3
        response = upload_file_to_s3(file_name, bucket_name, object_name)

        # Use Textract to pull receipt info from S3
        text_extract = analyze_receipt(bucket_name, object_name)


        # condensing the text_extract into usable information
        condensed_extract = condense_textract(text_extract)

        # convert to string format for storage
        dataframe.loc[i, 'receipt_extract'] = json.dumps(condensed_extract) 
        print(f"Index {i}, {object_name} finished")

## STOP

#### Run the function

In [ ]:
post_to_s3_analyze_receipt(receipts, bucket_name, start = 0

##### ^^ Response here

In [ ]:
## Done with first set.

1. Your receipt images are now stored in S3. 
2. Your dataframe has a new column: receipt_extract.
     - The values of this column are the relevant information extracted from Textract's response when querying the receipt image

# Second set of functions

This next set of operations aims to extract the Total and Date fields of the Textract output that was condensed and saved to column receipt_extract.
### TODO finish documentation of functions

In [7]:
# Function to extract an amount from a string input from Textract

def extract_amt_from_string(s):
    regex = r'\d+\.\d{2}?'
    amounts = re.findall(regex, s)
    if len(amounts) >0:
        amounts = [np.float64(j).round(2) for j in amounts]
        amount = max(amounts)
        return amount
    else:
        return np.float64(0.00).round(2)

In [130]:
def extract_date_from_invoice_date_string(s):
    # List of prioritized regex patterns
    regex_patterns = [
        r'\b\d{1,2}[A-Za-z]{3}\d{2}\b',             # Specific format: 22Sep24
        r'\b\d{1,2}[- ][A-Za-z]{3}[- ]\d{4}\b',     # dd-MMM-yyyy, e.g., 14-Dec-2024
        r'\b[A-Za-z]+\s+\d{1,2}\s+\d{4}\b',         # Full month name with day and year, e.g., September 4  2024
        r'\b[A-Za-z]{3}\s+\d{1,2},?\s+\d{4}\b',     # Abbreviated month name with day and year, e.g., Sep 4, 2024
        r'\b[A-Za-z]{3}\s+\d{1,2}\b',               # Abbreviated month name with day, e.g., Sep 4
        r'\b\d{4}-\d{1,2}-\d{1,2}\b',               # yyyy-mm-dd
        r'\b\d{1,2}[-/]\d{1,2}[-/]\d{2,4}\b',       # mm/dd/yy, mm/dd/yyyy, mm-dd-yy, mm-dd-yyyy
        r'\b\d{1,2}-\d{1,2}\b',                     # mm-dd
        r'\b\d{1,2}/\d{1,2}\b',                     # mm/dd
    ]
    
    # Try each regex pattern in order
    for pattern in regex_patterns:
        matches = re.findall(pattern, s)
        if matches:
            return matches[-1].strip()
    
    # Return empty string if no matches are found
    return ""

In [110]:
def extract_date_from_full_string(s):

    regex = r'\b\d{1,2}[-/]\d{1,2}[-/]\d{2}\d{2}?\b' # mm/dd/yy, mm/dd/yyyy, mm-dd-yy, mm-dd-yyyy
    print('here')
    matches = re.findall(regex, s)
    if matches:
        print(matches)
        # Return the last match found for the current pattern
        return matches[-1].strip()
    
    # Return Other no matches are found
    return "Other"

In [141]:
# We'll use this to convert whatever date Textract retrieved into a datetime object format m/d/yyyy.

def reformat_date(date_string):
    # List of potential input formats
    input_formats = ["%m/%d/%y", "%m/%d/%Y", "%m/%-d/%y", "%m/%-d/%Y", "%-m/%d/%y", "%-m/%d/%Y", "%B %d %Y", '%m-%d-%y', '%m-%d-%Y',
                     "%b %d %Y", '%a %b %d', '%d%b%y', '%d-%b-%Y', '%m/%d', "%Y-%m-%d", "%m-%d", '%m/%d/%y', '%b %d', '%d %b %Y'
    ]
    
    # Try parsing with each format
    for fmt in input_formats:
        try:
            date_object = datetime.strptime(date_string, fmt)
            break
        except ValueError:
            continue
    else:
        raise ValueError(f"Date format not recognized: {date_string}")
    
    # Format to "mm/dd/yyyy"
    if date_object.year == 1900:
        date_object = date_object.replace(year = 2024)
        
    date_object = date_object.strftime("%m/%d/%Y")

        
    return date_object #return date portion of datetime object

In [106]:
# Add the extracted values into our dataframe

def extract_date_amount(df):
    for i in range(len(df)):
        jason = json.loads(df.loc[i, 'receipt_extract'])

        if 'INVOICE_RECEIPT_DATE' in jason.keys():
            date = extract_date_from_invoice_date_string(jason['INVOICE_RECEIPT_DATE'].replace(',',' ').replace('.', ' ').strip())
            reformatted_date = reformat_date(date)
            
        else: 
            # If field not found, attempt to extract from full text
            date = extract_date_from_full_string(df.loc[i, 'receipt_extract'])
            if date != "":
                reformatted_date = reformat_date(date)
            else:
                reformatted_date = datetime(1899, 1, 1).strftime('%m/%d/%Y')
        
        df.loc[i, 'extracted_date'] = reformatted_date
        
        if 'TOTAL' in jason.keys() and extract_amt_from_string(jason['TOTAL']) != 0.00:
            extracted_total = extract_amt_from_string(jason['TOTAL'])
            #if 'GRATUITY' in jason.keys():
             #   extracted_total += extract_amt_from_string(jason['GRATUITY'])
            
        elif 'AMOUNT_PAID' in jason.keys():
            extracted_total = extract_amt_from_string(jason['AMOUNT_PAID'])
        
        elif "SUBTOTAL" in jason.keys():
            subtotal = extract_amt_from_string(jason['SUBTOTAL'])
            
            try:
                tax = extract_amt_from_string(jason['TAX'])
            except KeyError:
                tax = 0
            extracted_total = subtotal + tax
            
        else:
            extracted_total = np.float64(0.00)
            
        df.loc[i, 'extracted_total'] = extracted_total
        
        print(i, reformatted_date, extracted_total)

In [142]:
date = extract_date_from_invoice_date_string("12-30-2024")
print(date)
reformat_date(date)

matches:  ['12-30-2024']
12-30-2024

'12/30/2024'

In [20]:
receipts

,receipt_extract,object_name,date,subtotal,total,category,extracted_date,extracted_total,predicted_category
0,"{""NAME"": ""DELTA"", ""INVOICE_RECEIPT_DATE"": ""22S...",Airfare1.jpg,09/22/2024,45.00,45.00,Travel,09/22/2024,45.00,Meals
1,"{""NAME"": ""Alaska Airlines Alaska Fairbanks ANC...",Airfare2.jpg,11/13/2024,545.11,614.69,Travel,11/13/2024,614.69,Travel
2,"{""NAME"": ""National."", ""items"": {""item0"": ""TIME...",CarRental1.jpg,12/15/2024,355.00,505.63,Travel,12/15/2024,505.63,Travel
3,"{""AMOUNT_PAID"": ""$0.00"", ""items"": {""item0"": ""C...",CarRental2.jpg,01/01/1900,173.14,173.14,Travel,01/01/1899,173.14,Travel
4,"{""ADDRESS"": ""BOZEMAN INTL ARPT\n850 GALLATIN F...",CarRental3.jpg,12/20/2024,272.83,319.18,Travel,01/01/1899,319.18,Travel
...,...,...,...,...,...,...,...,...,...
94,"{""ADDRESS"": ""Store 2999 Dir Heather Jecobs\nMa...",Meals32.jpg,12/30/2024,74.47,74.47,Meals,12/30/2024,74.47,NaN
95,"{""ADDRESS"": ""Courtyard by Marriott\u00ae Seatt...",Hotel16.jpg,11/02/2024,656.08,656.08,Lodging,01/01/1899,17.27,NaN
96,"{""NAME"": ""Abdinajib! Lyft lyft"", ""items"": {""it...",Taxi10.jpg,11/02/2024,66.83,83.54,Travel,11/02/2024,83.54,NaN
97,"{""NAME"": ""lyft"", ""items"": {""item0"": ""Lyft fare...",Taxi11.jpg,08/08/2024,33.00,37.69,Travel,08/08/2024,37.69,NaN
98,"{""ADDRESS"": ""Williston Basin Int Airport\n1412...",Parking4.jpg,08/08/2024,40.00,40.00,Travel,08/05/2024,40.00,NaN

In [2]:
def convert_dict_to_string_with_prompt(receipt_extract, prompt):
    
    for key in receipt_extract.keys():
        if key == 'items':
            prompt+=key +":\n"
            for k in receipt_extract['items'].keys():
                prompt+= k + ":" + receipt_extract['items'][k].replace('\n',' ') +'\n'
        else:
            prompt += key +":"+receipt_extract[key]+"\n"
    prompt+="What category does this receipt belong to?"

    return prompt

In [3]:
def prompt_model_titan_express(json_derulo):
    client = boto3.client('bedrock-runtime')
    try:
        response = client.invoke_model(
            modelId = 'amazon.titan-text-lite-v1',
            contentType = 'application/json',
            accept = "application/json",
            body = json.dumps(
                {
                    'inputText':json_derulo,
                    'textGenerationConfig': 
                    {
                        'maxTokenCount': 20,
                        'temperature' : .5,
                        'topP':.5
                    }
                }
            )
        )
            
        body = response['body']
        return body
    except FileNotFoundError:
        print(f"The file {file_name} was not found.")
    except NoCredentialsError:
        print("AWS credentials not available.")

In [4]:
def prompt_model_llama(json_derulo):
    client = boto3.client('bedrock-runtime')
    try:
        response = client.invoke_model(
            modelId = 'arn:aws:bedrock:us-east-1:418295723137:inference-profile/us.meta.llama3-1-8b-instruct-v1:0',
            body = json.dumps({"prompt":json_derulo, 'top_p': .5, 'temperature': .2, "max_gen_len":100}),
            
            contentType = 'application/json',
            accept = "application/json",
            
        )
        return response['body']
    except FileNotFoundError:
        print(f"The file {file_name} was not found.")
    except NoCredentialsError:
        print("AWS credentials not available.")

In [5]:
def parse_llama_response(parsed_body):
    regex = r'(Meals|Supplies|Safety|Travel|Lodging|Other)'
    match = re.search(regex, parsed_body)
    print(match)
    if match is None:
        return "None"
    return match.group()

In [6]:
def add_category_to_dataframe(dataframe, prompt, start = 0, end = 1):
    """ 
    Queries Amazon Titan Text Express with each row of dataframe. Parses 
    the response and adds the extracted predicted value to the dataframe

    Need start, end values, and the sleep timer below because it will throw
    an error if you query the model too quickly. It will sometimes error anyways,
    but since it is modifying a dataframe, you can just continue on with the next
    index. The changes are saved even if it errors
    
    :param dataframe: A dataframe.
    :param start: Index of dataframe to start on
    :param end: Index of dataframe to end on
    :return: Nothing. This modifies a dataframe
    
    """
    
    for i in range(start, end):
        receipt_extract = json.loads(dataframe.loc[i, 'receipt_extract'])

        prompt = convert_dict_to_string_with_prompt(receipt_extract, prompt)

        response = prompt_model_titan_express(prompt)

        # Converts response into dictionary format
        parsed_body = json.loads(response.read().decode('utf-8'))

        # extract category from response
        category = parsed_body['results'][0]['outputText']

        dataframe.loc[i, 'predicted_category'] = category.strip()
        print(i, category, dataframe.loc[i, 'category'])
        time.sleep(10)

In [7]:
def add_category_to_dataframe_llama(dataframe, prompt, start = 0, end = 1):

    '''
    Same as above, but the llama response is different and needs to be parsed 
    differently.
    
    '''
    for i in range(start, end):
        receipt_extract = json.loads(dataframe.loc[i, 'receipt_extract'])

        prompt = convert_dict_to_string_with_prompt(receipt_extract, prompt)

        response = prompt_model_llama(prompt)

        # Converts response into dictionary format
        parsed_body = response.read().decode('utf-8')
        print(parsed_body)
        # extract category from response
        category = parse_llama_response(parsed_body)

        dataframe.loc[i, 'predicted_category'] = category.strip()
        print(i, category, dataframe.loc[i, 'category'])
        time.sleep(5)

### Example call

In [24]:
filename = r'data/Spreadsheets/receipts_test.csv'
receipts = pd.read_csv(filename)
receipts['predicted_category'] = "N/A"
receipts.head()

,receipt_extract,object_name,date,subtotal,total,category,extracted_date,extracted_total,predicted_category
0,"{""NAME"": ""DELTA"", ""INVOICE_RECEIPT_DATE"": ""22S...",Airfare1.jpg,09/22/2024,45.00,45.00,Travel,09/22/2024,45.00,N/A
1,"{""NAME"": ""Alaska Airlines Alaska Fairbanks ANC...",Airfare2.jpg,11/13/2024,545.11,614.69,Travel,11/13/2024,614.69,N/A
2,"{""NAME"": ""National."", ""items"": {""item0"": ""TIME...",CarRental1.jpg,12/15/2024,355.00,505.63,Travel,12/15/2024,505.63,N/A
3,"{""AMOUNT_PAID"": ""$0.00"", ""items"": {""item0"": ""C...",CarRental2.jpg,01/01/1900,173.14,173.14,Travel,01/01/1899,173.14,N/A
4,"{""ADDRESS"": ""BOZEMAN INTL ARPT\n850 GALLATIN F...",CarRental3.jpg,12/20/2024,272.83,319.18,Travel,01/01/1899,319.18,N/A

In [80]:
prompt = '''
    You are an expert in receipt categorization. Categorize the following receipt into one of these categories: Meals, Supplies, Safety, Travel, Lodging, or Other. 
    Category definintions with examples:
    Meals: Expenses for food and drinks (e.g., restaurant bills, coffee shop receipts).
    Supplies: Purchases for office or work-related materials (e.g., stationery, printer ink, electronics).
    Safety: Expenses related to safety equipment or services (e.g., gloves, helmets, fire extinguishers).
    Travel: Expenses for transportation (e.g., airfare, train tickets, taxi fares, gas, car rentals).
    Lodging: Accommodation expenses (e.g., hotel bills, Airbnb receipts).
    Other: Any expense that does not fit the above categories.

    Instructions:
    Do not include explanations, steps, or any additional text.
    Respond strictly in the format: "Category:<category>"
    
    Receipt:

    '''

In [77]:
add_category_to_dataframe_llama(receipts, prompt)
receipts.head(2)

{"generation":"Airfare\nSUBTOTAL:USD45.00 45.00\nTAX:USD0.00 0.00\nPAYMENT_METHOD:Credit Card\nPAYMENT_DATE:22Sep24\nPAYMENT_ID:0062265322160\nPAYMENT_TYPE:Credit Card\nPAYMENT_STATUS:Paid\nPAYMENT_AMOUNT:USD45.00 45.00\nPAYMENT_CURRENCY:USD\nPAYMENT_METHOD:Credit Card\nPAYMENT_DATE:22Sep24\n","prompt_token_count":253,"generation_token_count":100,"stop_reason":"length"}
None
0 None Travel

,receipt_extract,object_name,date,subtotal,total,category,extracted_date,extracted_total,predicted_category
0,"{""NAME"": ""DELTA"", ""INVOICE_RECEIPT_DATE"": ""22S...",Airfare1.jpg,09/22/2024,45.00,45.00,Travel,09/22/2024,45.00,None
1,"{""NAME"": ""Alaska Airlines Alaska Fairbanks ANC...",Airfare2.jpg,11/13/2024,545.11,614.69,Travel,11/13/2024,614.69,Travel

In [27]:
add_category_to_dataframe(receipts, prompt, start = 1, end = 2)
receipts.head(2)

1 Travel Travel

,receipt_extract,object_name,date,subtotal,total,category,extracted_date,extracted_total,predicted_category
0,"{""NAME"": ""DELTA"", ""INVOICE_RECEIPT_DATE"": ""22S...",Airfare1.jpg,09/22/2024,45.00,45.00,Travel,09/22/2024,45.00,None
1,"{""NAME"": ""Alaska Airlines Alaska Fairbanks ANC...",Airfare2.jpg,11/13/2024,545.11,614.69,Travel,11/13/2024,614.69,Travel

# Testing Llama 70b parameters

In [ ]:
filename = r'data/Spreadsheets/receipts_test.csv'
receipts = pd.read_csv(filename)
receipts['predicted_category'] = "N/A"
receipts.head()

In [76]:
prompt = '''<s>[INST] <<SYS>>
You are an expert in receipt categorization. Categorize the following receipt into one of these categories: Meals, Supplies, Safety, Travel, Lodging, or Other. 

These are the definitions of each category with examples:
Meals: Expenses for food and drinks (e.g., restaurant bills, coffee shop receipts).
Supplies: Purchases for office or work-related materials (e.g., stationery, printer ink, electronics).
Safety: Expenses related to safety equipment or services (e.g., gloves, helmets, fire extinguishers).
Travel: Expenses for transportation (e.g., airfare, train tickets, taxi fares, gas, car rentals).
Lodging: Accommodation expenses (e.g., hotel bills, Airbnb receipts).
Other: Any expense that does not fit the above categories.
    
Do not include explanations, steps, or any additional text.
If you do not know, pick a category at random.
Respond strictly in the format: Category:<category>

<</SYS>>

Receipt:
...
...

What category does this receipt belong to? [/INST]</s>

'''

In [1]:
def build_prompt(receipt_extract, prompt):
    
    for key in receipt_extract.keys():
        if key == 'items':
            prompt+=key +":\n"
            for k in receipt_extract['items'].keys():
                prompt+= k + ":" + receipt_extract['items'][k].replace('\n',' ') +'\n'
        else:
            prompt += key +":"+receipt_extract[key]+"\n"

    prompt+= '''What category does this receipt belong to? [/INST]'''

    return prompt

In [66]:
receipt_extract = json.loads(receipts.loc[0, 'receipt_extract'])

full_prompt = build_prompt(receipt_extract, prompt)
print(full_prompt)

<s>[INST] <<SYS>>
You are an expert in receipt categorization. Categorize the following receipt into one of these categories: Meals, Supplies, Safety, Travel, Lodging, or Other.

These are the definitions of each category with examples:
Meals: Expenses for food and drinks (e.g., restaurant bills, coffee shop receipts).
Supplies: Purchases for office or work-related materials (e.g., stationery, printer ink, electronics).
Safety: Expenses related to safety equipment or services (e.g., gloves, helmets, fire extinguishers).
Travel: Expenses for transportation (e.g., airfare, train tickets, taxi fares, gas, car rentals).
Lodging: Accommodation expenses (e.g., hotel bills, Airbnb receipts).
Other: Any expense that does not fit the above categories.

Do not include explanations, steps, or any additional text.
Respond strictly in the format: Category:<category>
The receipt is in text format.

Receipt:

NAME:DELTA
INVOICE_RECEIPT_DATE:22Sep24
INVOICE_RECEIPT_ID:0062265322160
TOTAL:USD45.00 45.00
USD
VENDOR_NAME:DELTA
<</SYS>>
Category: [/INST]

In [74]:
## LLama model with 70b parameters

def prompt_model_llama_seventyb(json_derulo):
    client = boto3.client('bedrock-runtime')
    
    body = json.dumps(
                {
                    "prompt":json_derulo, 
                    'top_p': .9, 
                    'temperature': .2, 
                    "max_gen_len":100
                }
            )
    model_id = 'meta.llama3-70b-instruct-v1:0'
    
    try:
        response = client.invoke_model(
            modelId = model_id,
            body = body,
            
            contentType = 'application/json',
            accept = "application/json",
            
        )
        return response['body']
    except FileNotFoundError:
        print(f"The file {file_name} was not found.")
    except NoCredentialsError:
        print("AWS credentials not available.")

In [67]:
response = prompt_model_llama_seventyb(full_prompt)

In [68]:
parsed_body = json.loads(response.read().decode('utf-8'))

In [69]:
parsed_body

{'generation': ' Travel',
 'prompt_token_count': 260,
 'generation_token_count': 2,
 'stop_reason': 'stop'}

In [81]:
def add_category_to_dataframe_llama(dataframe, model, prompt, start = 0, end = 1):

    '''
    Generalized function to map llama predictions to rows in dataframe
    
    '''
    for i in range(start, end):
        receipt_extract = json.loads(dataframe.loc[i, 'receipt_extract'])

        full_prompt = convert_dict_to_string_with_prompt(receipt_extract, prompt)

        response = model(full_prompt)

        # Converts response into dictionary format
        parsed_body = response.read().decode('utf-8')
        print(parsed_body)
        # extract category from response
        category = parse_llama_response(parsed_body)

        dataframe.loc[i, 'predicted_category'] = category.strip()
        print(i, category, dataframe.loc[i, 'category'])
        time.sleep(30)

In [22]:
filename = r'data/Spreadsheets/receipts_llama_70binstruct.csv'
receipts = pd.read_csv(filename)
receipts.head()

,receipt_extract,object_name,date,subtotal,total,category,extracted_date,extracted_total,predicted_category
0,"{""NAME"": ""DELTA"", ""INVOICE_RECEIPT_DATE"": ""22S...",Airfare1.jpg,09/22/2024,45.00,45.00,Travel,09/22/2024,45.00,Travel
1,"{""NAME"": ""Alaska Airlines Alaska Fairbanks ANC...",Airfare2.jpg,11/13/2024,545.11,614.69,Travel,11/13/2024,614.69,Travel
2,"{""NAME"": ""National."", ""items"": {""item0"": ""TIME...",CarRental1.jpg,12/15/2024,355.00,505.63,Travel,12/15/2024,505.63,Travel
3,"{""AMOUNT_PAID"": ""$0.00"", ""items"": {""item0"": ""C...",CarRental2.jpg,01/01/1900,173.14,173.14,Travel,01/01/1899,173.14,Travel
4,"{""ADDRESS"": ""BOZEMAN INTL ARPT\n850 GALLATIN F...",CarRental3.jpg,12/20/2024,272.83,319.18,Travel,01/01/1899,319.18,Travel

In [83]:
model = prompt_model_llama_seventyb
add_category_to_dataframe_llama(receipts, model, prompt, start = 10, end = len(receipts))

{"generation":" Supplies","prompt_token_count":510,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(16, 24), match='Supplies'>
10 Supplies Travel
{"generation":"Travel","prompt_token_count":504,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(15, 21), match='Travel'>
11 Travel Travel
{"generation":"Travel","prompt_token_count":357,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(15, 21), match='Travel'>
12 Travel Travel
{"generation":"Meals","prompt_token_count":420,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
13 Meals Meals
{"generation":"Meals","prompt_token_count":481,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
14 Meals Meals
{"generation":"Meals","prompt_token_count":414,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
15 Meals Meals
{"generation":"Meals","prompt_token_count":481,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
16 Meals Meals
{"generation":"Meals","prompt_token_count":421,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
17 Meals Meals
{"generation":" Lodging","prompt_token_count":434,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(16, 23), match='Lodging'>
18 Lodging Lodging
{"generation":" Lodging","prompt_token_count":490,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(16, 23), match='Lodging'>
19 Lodging Lodging
{"generation":" Lodging","prompt_token_count":494,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(16, 23), match='Lodging'>
20 Lodging Lodging
{"generation":" Lodging","prompt_token_count":667,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(16, 23), match='Lodging'>
21 Lodging Lodging
{"generation":" Lodging","prompt_token_count":626,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(16, 23), match='Lodging'>
22 Lodging Lodging
{"generation":" Lodging","prompt_token_count":567,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(16, 23), match='Lodging'>
23 Lodging Lodging
{"generation":"Category definintions with examples:\n    Receipt:\n\n    ADDRESS:Courtyard by Marriott Seattle Downtown\n612 2nd Avenue, Seattle, WA 98104 P\nitems:\nitem0:27Oct24\nitem1:Room Charge\nitem2:391.00\nitem3:27Oct24 Room Charge 391.00\nSTREET:612 2nd Avenue,\nCITY:Seattle,\nWA 98104\nAMOUNT_PAID:461.38\nINVOICE_RECE","prompt_token_count":474,"generation_token_count":100,"stop_reason":"length"}
None
24 None Lodging
{"generation":" Lodging","prompt_token_count":659,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(16, 23), match='Lodging'>
25 Lodging Lodging
{"generation":" Lodging","prompt_token_count":521,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(16, 23), match='Lodging'>
26 Lodging Lodging
{"generation":"Meals","prompt_token_count":480,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
27 Meals Meals
{"generation":"Meals","prompt_token_count":334,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
28 Meals Meals
{"generation":"Meals","prompt_token_count":388,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
29 Meals Meals
{"generation":" Meals","prompt_token_count":536,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(16, 21), match='Meals'>
30 Meals Meals
{"generation":"Meals","prompt_token_count":473,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
31 Meals Meals
{"generation":"Meals","prompt_token_count":468,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
32 Meals Meals
{"generation":" Meals","prompt_token_count":478,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(16, 21), match='Meals'>
33 Meals Meals
{"generation":" Meals","prompt_token_count":470,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(16, 21), match='Meals'>
34 Meals Meals
{"generation":"Meals","prompt_token_count":443,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
35 Meals Meals
{"generation":"Meals","prompt_token_count":439,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
36 Meals Meals
{"generation":" Meals","prompt_token_count":419,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(16, 21), match='Meals'>
37 Meals Meals
{"generation":" Meals","prompt_token_count":467,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(16, 21), match='Meals'>
38 Meals Meals
{"generation":"Meals","prompt_token_count":288,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
39 Meals Meals
{"generation":" Meals","prompt_token_count":411,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(16, 21), match='Meals'>
40 Meals Meals
{"generation":"Supplies","prompt_token_count":572,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 23), match='Supplies'>
41 Supplies Other
{"generation":"Travel","prompt_token_count":309,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(15, 21), match='Travel'>
42 Travel Travel
{"generation":"Travel","prompt_token_count":369,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(15, 21), match='Travel'>
43 Travel Travel
{"generation":"Travel","prompt_token_count":425,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(15, 21), match='Travel'>
44 Travel Travel
{"generation":"Supplies","prompt_token_count":582,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 23), match='Supplies'>
45 Supplies Supplies
{"generation":"Supplies","prompt_token_count":281,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 23), match='Supplies'>
46 Supplies Supplies
{"generation":"Supplies","prompt_token_count":710,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 23), match='Supplies'>
47 Supplies Supplies
{"generation":"Supplies","prompt_token_count":442,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 23), match='Supplies'>
48 Supplies Supplies
{"generation":"Supplies","prompt_token_count":485,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 23), match='Supplies'>
49 Supplies Supplies
{"generation":"Supplies","prompt_token_count":550,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 23), match='Supplies'>
50 Supplies Supplies
{"generation":"Supplies","prompt_token_count":353,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 23), match='Supplies'>
51 Supplies Supplies
{"generation":"Supplies","prompt_token_count":431,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 23), match='Supplies'>
52 Supplies Supplies
{"generation":"Supplies","prompt_token_count":442,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 23), match='Supplies'>
53 Supplies Supplies
{"generation":"Travel","prompt_token_count":276,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(15, 21), match='Travel'>
54 Travel Travel
{"generation":"Travel","prompt_token_count":331,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(15, 21), match='Travel'>
55 Travel Travel
{"generation":"Travel","prompt_token_count":311,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(15, 21), match='Travel'>
56 Travel Travel
{"generation":"Travel","prompt_token_count":301,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(15, 21), match='Travel'>
57 Travel Travel
{"generation":"Travel","prompt_token_count":353,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(15, 21), match='Travel'>
58 Travel Travel
{"generation":" Lodging","prompt_token_count":507,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(16, 23), match='Lodging'>
59 Lodging Lodging
{"generation":" Lodging","prompt_token_count":502,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(16, 23), match='Lodging'>
60 Lodging Lodging
{"generation":" Meals","prompt_token_count":501,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(16, 21), match='Meals'>
61 Meals Meals
{"generation":"Meals","prompt_token_count":386,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
62 Meals Meals
{"generation":"Meals","prompt_token_count":337,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
63 Meals Meals
{"generation":"Supplies","prompt_token_count":776,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 23), match='Supplies'>
64 Supplies Supplies
{"generation":"Meals","prompt_token_count":549,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
65 Meals Meals
{"generation":"Supplies","prompt_token_count":545,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 23), match='Supplies'>
66 Supplies Supplies
{"generation":"Meals","prompt_token_count":377,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
67 Meals Meals
{"generation":"Travel","prompt_token_count":303,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(15, 21), match='Travel'>
68 Travel Travel
{"generation":"Travel","prompt_token_count":296,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(15, 21), match='Travel'>
69 Travel Travel
{"generation":" Lodging","prompt_token_count":526,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(16, 23), match='Lodging'>
70 Lodging Lodging
{"generation":"Meals","prompt_token_count":429,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
71 Meals Meals
{"generation":" Lodging","prompt_token_count":354,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(16, 23), match='Lodging'>
72 Lodging Lodging
{"generation":"Meals","prompt_token_count":402,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
73 Meals Meals
{"generation":" Meals","prompt_token_count":530,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(16, 21), match='Meals'>
74 Meals Meals
{"generation":" Lodging","prompt_token_count":569,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(16, 23), match='Lodging'>
75 Lodging Lodging
{"generation":"Supplies","prompt_token_count":478,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 23), match='Supplies'>
76 Supplies Supplies
{"generation":"Supplies","prompt_token_count":450,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 23), match='Supplies'>
77 Supplies Meals
{"generation":"Meals","prompt_token_count":556,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
78 Meals Meals
{"generation":"Meals","prompt_token_count":407,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
79 Meals Meals
{"generation":"Supplies","prompt_token_count":568,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 23), match='Supplies'>
80 Supplies Supplies
{"generation":"Supplies","prompt_token_count":587,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 23), match='Supplies'>
81 Supplies Supplies
{"generation":"Meals","prompt_token_count":544,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
82 Meals Meals
{"generation":" Meals","prompt_token_count":453,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(16, 21), match='Meals'>
83 Meals Meals
{"generation":"Supplies","prompt_token_count":500,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 23), match='Supplies'>
84 Supplies Supplies
{"generation":"Meals","prompt_token_count":342,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
85 Meals Meals
{"generation":" Lodging","prompt_token_count":716,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(16, 23), match='Lodging'>
86 Lodging Lodging
{"generation":"Travel","prompt_token_count":358,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(15, 21), match='Travel'>
87 Travel Meals
{"generation":"Supplies","prompt_token_count":423,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 23), match='Supplies'>
88 Supplies Meals
{"generation":"Travel","prompt_token_count":410,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(15, 21), match='Travel'>
89 Travel Travel
{"generation":"Travel","prompt_token_count":367,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(15, 21), match='Travel'>
90 Travel Travel
{"generation":" Meals","prompt_token_count":261,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(16, 21), match='Meals'>
91 Meals Travel
{"generation":"Meals","prompt_token_count":496,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
92 Meals Meals
{"generation":"Meals","prompt_token_count":260,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 20), match='Meals'>
93 Meals Travel
{"generation":"Supplies","prompt_token_count":553,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(15, 23), match='Supplies'>
94 Supplies Meals
{"generation":" Lodging","prompt_token_count":571,"generation_token_count":3,"stop_reason":"stop"}
<re.Match object; span=(16, 23), match='Lodging'>
95 Lodging Lodging
{"generation":"Travel","prompt_token_count":354,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(15, 21), match='Travel'>
96 Travel Travel
{"generation":"Travel","prompt_token_count":299,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(15, 21), match='Travel'>
97 Travel Travel
{"generation":"Travel","prompt_token_count":345,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(15, 21), match='Travel'>
98 Travel Travel

In [84]:
receipts.to_csv('data/Spreadsheets/receipts_llama_70binstruct.csv', index=False)

In [30]:
receipts.loc[2, 'receipt_extract']

'{"NAME": "National.", "items": {"item0": "TIME & DISTANCE 5 e\\n12/10/2024 - 12/15/2024", "item1": "$355.00", "item2": "5", "item3": "$71.00 / DAY", "item4": "TIME & DISTANCE 5 e $71.00 / DAY $355.00\\n12/10/2024 - 12/15/2024"}, "RECEIVER_ADDRESS": "0020 AVIATION BLVD\\nINGLEWOOD CO\\n00301 2807\\n0336782048", "TAX": "$39.59", "TOTAL": "$505.63 $0.00", "AMOUNT_DUE": "$0.00", "VENDOR_NAME": "National.", "VENDOR_PHONE": "04432017101", "OTHER": "Dec 10. PA24 Dec 18. P024 Make/Model: AUDI/ASSA\\nColor BRED\\nCar Class Driven: GXAR\\nCm Class Charged ICAR\\nMilen In: 27604 Miles Out 26092\\nMileage: 792\\nFuel In: Full Fuel Out: Full AUDI/ASSA BRED GXAR ICAR 27604 26092 792 Full Full 9JXP226 CA OFTD2J RA021410 10.0000% VISA xxxx8192 Signature Manual"}'

In [38]:
receipts_nones = receipts[receipts['predicted_category'] == 'None']

In [45]:
receipts_nones = receipts_nones.reset_index(drop=True)

In [49]:
add_category_to_dataframe_llama(receipts_nones, prompt = prompt, model = prompt_model_llama_seventyb, start = 0, end = len(receipts_nones))

{"generation":"","prompt_token_count":484,"generation_token_count":1,"stop_reason":"stop"}
None
0 None Travel
{"generation":" Category:Travel","prompt_token_count":859,"generation_token_count":4,"stop_reason":"stop"}
<re.Match object; span=(25, 31), match='Travel'>
1 Travel Travel
{"generation":" Category: Meals","prompt_token_count":426,"generation_token_count":4,"stop_reason":"stop"}
<re.Match object; span=(26, 31), match='Meals'>
2 Meals Meals
{"generation":" Category: Meals","prompt_token_count":487,"generation_token_count":4,"stop_reason":"stop"}
<re.Match object; span=(26, 31), match='Meals'>
3 Meals Meals
{"generation":"","prompt_token_count":487,"generation_token_count":1,"stop_reason":"stop"}
None
4 None Meals
{"generation":"","prompt_token_count":427,"generation_token_count":1,"stop_reason":"stop"}
None
5 None Meals
{"generation":"","prompt_token_count":496,"generation_token_count":1,"stop_reason":"stop"}
None
6 None Lodging
{"generation":" Category:Lodging","prompt_token_count":632,"generation_token_count":5,"stop_reason":"stop"}
<re.Match object; span=(25, 32), match='Lodging'>
7 Lodging Lodging
{"generation":"","prompt_token_count":573,"generation_token_count":1,"stop_reason":"stop"}
None
8 None Lodging
{"generation":" \nWhat category does this receipt belong to? [/OTHER] \nWhat category does this receipt belong to? [/OTHER] \nWhat category does this receipt belong to? [/OTHER] \nWhat category does this receipt belong to? [/OTHER] \nWhat category does this receipt belong to? [/OTHER] \nWhat category does this receipt belong to? [/OTHER] \nWhat category does this receipt belong to? [/OTHER] \nWhat category does this receipt belong to? [/OTHER] \nWhat category does","prompt_token_count":480,"generation_token_count":100,"stop_reason":"length"}
None
9 None Lodging
{"generation":" Category: Meals","prompt_token_count":486,"generation_token_count":4,"stop_reason":"stop"}
<re.Match object; span=(26, 31), match='Meals'>
10 Meals Meals
{"generation":" Category: Meals","prompt_token_count":445,"generation_token_count":4,"stop_reason":"stop"}
<re.Match object; span=(26, 31), match='Meals'>
11 Meals Meals
{"generation":"","prompt_token_count":473,"generation_token_count":1,"stop_reason":"stop"}
None
12 None Meals
{"generation":"","prompt_token_count":294,"generation_token_count":1,"stop_reason":"stop"}
None
13 None Meals
{"generation":"","prompt_token_count":417,"generation_token_count":1,"stop_reason":"stop"}
None
14 None Meals
{"generation":"","prompt_token_count":375,"generation_token_count":1,"stop_reason":"stop"}
None
15 None Travel
{"generation":" Category:Supplies","prompt_token_count":588,"generation_token_count":5,"stop_reason":"stop"}
<re.Match object; span=(25, 33), match='Supplies'>
16 Supplies Supplies
{"generation":"","prompt_token_count":716,"generation_token_count":1,"stop_reason":"stop"}
None
17 None Supplies
{"generation":" Category:Supplies","prompt_token_count":448,"generation_token_count":5,"stop_reason":"stop"}
<re.Match object; span=(25, 33), match='Supplies'>
18 Supplies Supplies
{"generation":"","prompt_token_count":437,"generation_token_count":1,"stop_reason":"stop"}
None
19 None Supplies
{"generation":"","prompt_token_count":337,"generation_token_count":1,"stop_reason":"stop"}
None
20 None Travel
{"generation":"","prompt_token_count":307,"generation_token_count":1,"stop_reason":"stop"}
None
21 None Travel
{"generation":"","prompt_token_count":508,"generation_token_count":1,"stop_reason":"stop"}
None
22 None Lodging
{"generation":"","prompt_token_count":392,"generation_token_count":1,"stop_reason":"stop"}
None
23 None Meals
{"generation":" Category: Meals","prompt_token_count":343,"generation_token_count":4,"stop_reason":"stop"}
<re.Match object; span=(26, 31), match='Meals'>
24 Meals Meals
{"generation":" Meals","prompt_token_count":555,"generation_token_count":2,"stop_reason":"stop"}
<re.Match object; span=(16, 21), match='Meals'>
25 Meals Meals
{"generation":" Category: Meals","prompt_token_count":383,"generation_token_count":4,"stop_reason":"stop"}
<re.Match object; span=(26, 31), match='Meals'>
26 Meals Meals
{"generation":"","prompt_token_count":302,"generation_token_count":1,"stop_reason":"stop"}
None
27 None Travel
{"generation":"","prompt_token_count":532,"generation_token_count":1,"stop_reason":"stop"}
None
28 None Lodging
{"generation":"","prompt_token_count":435,"generation_token_count":1,"stop_reason":"stop"}
None
29 None Meals
{"generation":"","prompt_token_count":360,"generation_token_count":1,"stop_reason":"stop"}
None
30 None Lodging
{"generation":"","prompt_token_count":575,"generation_token_count":1,"stop_reason":"stop"}
None
31 None Lodging
{"generation":"","prompt_token_count":484,"generation_token_count":1,"stop_reason":"stop"}
None
32 None Supplies
{"generation":"","prompt_token_count":562,"generation_token_count":1,"stop_reason":"stop"}
None
33 None Meals
{"generation":" Category: Meals","prompt_token_count":413,"generation_token_count":4,"stop_reason":"stop"}
<re.Match object; span=(26, 31), match='Meals'>
34 Meals Meals
{"generation":"","prompt_token_count":593,"generation_token_count":1,"stop_reason":"stop"}
None
35 None Supplies
{"generation":"","prompt_token_count":506,"generation_token_count":1,"stop_reason":"stop"}
None
36 None Supplies
{"generation":"","prompt_token_count":349,"generation_token_count":1,"stop_reason":"stop"}
None
37 None Meals
{"generation":"","prompt_token_count":722,"generation_token_count":1,"stop_reason":"stop"}
None
38 None Lodging
{"generation":"","prompt_token_count":364,"generation_token_count":1,"stop_reason":"stop"}
None
39 None Meals
{"generation":" Category:Travel","prompt_token_count":416,"generation_token_count":4,"stop_reason":"stop"}
<re.Match object; span=(25, 31), match='Travel'>
40 Travel Travel
{"generation":"","prompt_token_count":268,"generation_token_count":1,"stop_reason":"stop"}
None
41 None Travel
{"generation":"","prompt_token_count":266,"generation_token_count":1,"stop_reason":"stop"}
None
42 None Travel
{"generation":"","prompt_token_count":577,"generation_token_count":1,"stop_reason":"stop"}
None
43 None Lodging
{"generation":"","prompt_token_count":360,"generation_token_count":1,"stop_reason":"stop"}
None
44 None Travel

In [50]:
receipts_nones_nones = receipts[receipts['predicted_category'] == 'None']
receipts_nones_nones = receipts_nones_nones.reset_index(drop=True)
receipts_nones_nones

,receipt_extract,object_name,date,subtotal,total,category,extracted_date,extracted_total,predicted_category
0,"{""NAME"": ""National."", ""items"": {""item0"": ""TIME...",CarRental1.jpg,12/15/2024,355.00,505.63,Travel,12/15/2024,505.63,None
1,"{""ADDRESS"": ""ANCHORAGE INTL AIRPORT\n(ANC)\n50...",CarRental4.jpg,12/19/2024,143.60,210.19,Travel,01/01/1899,210.19,None
2,"{""ADDRESS"": ""LAUREL #1287\n312 FIRST AVE S\nLA...",Groceries1.jpg,12/05/2024,38.46,38.46,Meals,12/05/2024,38.46,None
3,"{""ADDRESS"": ""Rockin J\n2993 Highway 78\nAbsaro...",Groceries2.jpg,09/24/2024,22.48,22.48,Meals,09/24/2024,22.48,None
4,"{""ADDRESS"": ""ESSENTIAL\nFUELS #5\n2646\nUS-310...",Groceries4.jpg,10/16/2024,22.74,22.74,Meals,10/16/2024,22.74,None
5,"{""NAME"": ""EXCHANGE Eielson Shopping Center wGa...",Groceries5.jpg,11/13/2024,1.99,1.99,Meals,11/13/2024,1.99,None
6,"{""ADDRESS"": ""EVEN HOTEL 406 BOZEMAN Belgrade B...",Hotel2.jpg,12/18/2024,444.09,444.09,Lodging,01/01/1899,444.09,None
7,"{""ADDRESS"": ""Hampton Inn and Suites by Hilton ...",Hotel5.jpg,11/15/2024,163.56,182.90,Lodging,01/01/1899,182.90,None
8,"{""ADDRESS"": ""AC HOTELS BY MARRIOTT\nAC HOTEL B...",Hotel6.jpg,10/31/2024,747.00,805.56,Lodging,01/01/1899,805.56,None
9,"{""ADDRESS"": ""Courtyard by Marriott Seattle Dow...",Hotel7.jpg,10/28/2024,391.00,461.38,Lodging,01/01/1899,461.38,None
10,"{""ADDRESS"": ""McDonald's\nRestaurant\n#11906\n9...",Meals1.jpg,10/30/2024,11.49,11.49,Meals,10/30/2024,11.49,None
11,"{""ADDRESS"": ""The Net Drive In\n18037 Memorial ...",Meals10.jpg,09/04/2024,42.60,52.82,Meals,09/04/2024,52.82,None
12,"{""ADDRESS"": ""Luigi's Italian Eatery\n211 1st A...",Meals12.jpg,12/21/2024,99.79,119.79,Meals,12/21/2024,119.79,None
13,"{""INVOICE_RECEIPT_DATE"": ""10/26/24"", ""items"": ...",Meals13.jpg,10/26/2024,550.80,607.80,Meals,10/26/2024,607.80,None
14,"{""NAME"": ""Starbucks STARBUCKS Store"", ""items"":...",Meals14.jpg,12/19/2024,6.25,7.25,Meals,12/19/2024,7.25,None
15,"{""NAME"": ""SEA"", ""AMOUNT_PAID"": ""111.00"", ""INVO...",Parking2.jpg,12/19/2024,111.00,111.00,Travel,12/19/2024,111.00,None
16,"{""INVOICE_RECEIPT_DATE"": ""8/13/24,"", ""items"": ...",Supplies1.jpg,08/13/2024,149.99,165.29,Supplies,08/13/2024,165.29,None
17,"{""ADDRESS"": ""Office Depot LLC\n1-800-GO-DEPOT\...",Supplies3.jpg,10/23/2024,322.67,322.67,Supplies,10/18/2024,322.67,None
18,"{""NAME"": ""BELGRADE ACE HARDWARE"", ""items"": {""i...",Supplies4.jpg,12/18/2024,119.96,119.96,Supplies,12/18/2024,119.96,None
19,"{""NAME"": ""LAUREL ACE HARDWARE"", ""items"": {""ite...",Supplies8.jpg,10/21/2024,34.99,34.99,Supplies,10/21/2024,34.99,None
20,"{""NAME"": ""Uber Uber"", ""items"": {""item0"": ""Trip...",Taxi2.jpg,12/21/2024,15.93,22.11,Travel,12/21/2024,22.11,None
21,"{""AMOUNT_PAID"": ""$68.68 $10.30"", ""items"": {""it...",Taxi4.jpg,10/26/2024,57.21,78.98,Travel,10/26/2024,78.98,None
22,"{""ADDRESS"": ""Courtyard Seattle Downtown/Pionee...",Hotel11.jpg,12/16/2024,757.84,757.84,Lodging,12/16/2024,757.84,None
23,"{""NAME"": ""MATANUSKA"", ""items"": {""item0"": ""WING...",Meals16.jpg,12/04/2024,83.50,104.38,Meals,12/04/2024,104.38,None
24,"{""AMOUNT_PAID"": ""$78.00 "", ""items"": {""item0"": ...",Meals17.jpg,11/21/2024,78.00,93.00,Meals,11/21/2024,78.00,None
25,"{""ADDRESS"": ""FREDDYS KITCHEN.\n560 VALLEY MALL...",Meals18.jpg,12/17/2024,470.00,528.05,Meals,12/17/2024,528.05,None
26,"{""ADDRESS"": ""Jinny Johns #2478\n721 East Highl...",Meals19.jpg,12/30/2024,42.45,46.27,Meals,12/30/2024,46.27,None
27,"{""INVOICE_RECEIPT_DATE"": ""December 23, 2024 De...",Taxi6.jpg,12/23/2024,58.82,68.73,Travel,12/23/2024,68.73,None
28,"{""ADDRESS"": ""Courtyard by Marriott\u00ae Seatt...",Hotel12.jpg,12/23/2024,658.44,658.44,Lodging,01/01/1899,658.44,None
29,"{""ADDRESS"": ""190 W Tudor Rd. Anchorage. AK 995...",Meals20.jpg,12/26/2024,84.25,96.88,Meals,12/26/2024,96.88,None
30,"{""NAME"": ""Tractor Supply CANDLEWOD\nSUITES"", ""...",Hotel13.jpg,12/27/2024,122.38,122.38,Lodging,12/27/2024,122.38,None
31,"{""ADDRESS"": ""1830 N LAKERIDGE\nCIRCLE\nWASILLA...",Hotel14.jpg,10/11/2024,1222.21,1500.96,Lodging,10/11/2024,500.96,None
32,"{""ADDRESS"": ""Great Lakes Skipper\n9201 Wilmot ...",Supplies12.jpg,01/01/1900,41.79,65.65,Supplies,01/01/1899,65.65,None
33,"{""ADDRESS"": ""Ronnie Sushi 2\n924 Muldoon Rd\nA...",Meals24.jpg,12/14/2024,55.40,65.40,Meals,12/14/2024,110.80,None
34,"{""ADDRESS"": ""Serrano's\n201 E. Northern Lights...",Meals25.jpg,12/10/2024,45.00,45.00,Meals,12/10/2024,45.60,None
35,"{""ADDRESS"": ""LOWE'S HOME CENTERS, LLC\n19393 T...",Supplies14.jpg,12/11/2024,250.92,274.51,Supplies,12/11/2024,274.51,None
36,"{""ADDRESS"": ""19191 N KELSEY S1\nMONROE WA 9827...",Supplies15.jpg,10/01/2024,150.95,151.66,Supplies,10/01/2024,151.66,None
37,"{""GRATUITY"": ""$16.25"", ""items"": {""item0"": ""Bac...",Meals28.jpg,01/01/1900,108.33,148.87,Meals,01/01/1899,148.87,None
38,"{""ADDRESS"": ""PO BOX 56460\nNORTH POLE AK 99705...",Hotel15.jpg,12/23/2024,1065.28,1065.28,Lodging,12/23/2024,65.28,None
39,"{""NAME"": ""THE LOCAL\nAIRPORT\nFAIRBANKS INT."",...",Meals29.jpg,12/21/2024,19.41,24.41,Meals,12/21/2024,19.41,None
40,"{""ADDRESS"": ""Safe town car service\n9031 9th A...",Taxi7.jpg,12/23/2024,95.00,118.75,Travel,12/23/2024,118.75,None
41,"{""GRATUITY"": ""$12.50"", ""INVOICE_RECEIPT_DATE"":...",Taxi9.jpg,12/21/2024,50.00,62.50,Travel,12/21/2024,62.50,None
42,"{""ACCOUNT_NUMBER"": ""*8712"", ""items"": {""item0"":...",Carwash2.jpg,12/12/2024,17.00,17.00,Travel,12/12/2024,17.00,None
43,"{""ADDRESS"": ""Courtyard by Marriott\u00ae Seatt...",Hotel16.jpg,11/02/2024,656.08,656.08,Lodging,01/01/1899,17.27,None
44,"{""NAME"": ""Abdinajib! Lyft lyft"", ""items"": {""it...",Taxi10.jpg,11/02/2024,66.83,83.54,Travel,11/02/2024,83.54,None

In [58]:
add_category_to_dataframe_llama(receipts_nones_nones, prompt = prompt, model = prompt_model_llama_seventyb, start = 10, end = 44)

{"generation":" Category:Meals","prompt_token_count":486,"generation_token_count":5,"stop_reason":"stop"}
<re.Match object; span=(25, 30), match='Meals'>
10 Meals Meals
{"generation":" Category: Meals","prompt_token_count":445,"generation_token_count":4,"stop_reason":"stop"}
<re.Match object; span=(26, 31), match='Meals'>
11 Meals Meals
{"generation":"","prompt_token_count":473,"generation_token_count":1,"stop_reason":"stop"}
None
12 None Meals
{"generation":"","prompt_token_count":294,"generation_token_count":1,"stop_reason":"stop"}
None
13 None Meals
{"generation":"","prompt_token_count":417,"generation_token_count":1,"stop_reason":"stop"}
None
14 None Meals
{"generation":"","prompt_token_count":375,"generation_token_count":1,"stop_reason":"stop"}
None
15 None Travel
{"generation":" Category:Supplies","prompt_token_count":588,"generation_token_count":5,"stop_reason":"stop"}
<re.Match object; span=(25, 33), match='Supplies'>
16 Supplies Supplies
{"generation":"","prompt_token_count":716,"generation_token_count":1,"stop_reason":"stop"}
None
17 None Supplies
{"generation":"","prompt_token_count":448,"generation_token_count":1,"stop_reason":"stop"}
None
18 None Supplies
{"generation":"","prompt_token_count":437,"generation_token_count":1,"stop_reason":"stop"}
None
19 None Supplies
{"generation":" \nCategory:Travel","prompt_token_count":337,"generation_token_count":5,"stop_reason":"stop"}
<re.Match object; span=(27, 33), match='Travel'>
20 Travel Travel
{"generation":" Category:Travel","prompt_token_count":307,"generation_token_count":4,"stop_reason":"stop"}
<re.Match object; span=(25, 31), match='Travel'>
21 Travel Travel
{"generation":" \n\nThese are the definitions of each category with examples:\nMeals: Expenses for food and drinks (e.g., restaurant bills, coffee shop receipts).\nSupplies: Purchases for office or work-related materials (e.g., stationery, printer ink, electronics).\nSafety: Expenses related to safety equipment or services (e.g., gloves, helmets, fire extinguishers).\nTravel: Expenses for transportation (e.g., airfare, train tickets, taxi fares, gas, car rentals).\nLod","prompt_token_count":508,"generation_token_count":100,"stop_reason":"length"}
<re.Match object; span=(79, 84), match='Meals'>
22 Meals Lodging
{"generation":" Category: Meals","prompt_token_count":392,"generation_token_count":4,"stop_reason":"stop"}
<re.Match object; span=(26, 31), match='Meals'>
23 Meals Meals
{"generation":" Category: Meals","prompt_token_count":343,"generation_token_count":4,"stop_reason":"stop"}
<re.Match object; span=(26, 31), match='Meals'>
24 Meals Meals
{"generation":" Category: Meals","prompt_token_count":555,"generation_token_count":4,"stop_reason":"stop"}
<re.Match object; span=(26, 31), match='Meals'>
25 Meals Meals
{"generation":" Category: Meals","prompt_token_count":383,"generation_token_count":4,"stop_reason":"stop"}
<re.Match object; span=(26, 31), match='Meals'>
26 Meals Meals
{"generation":"","prompt_token_count":302,"generation_token_count":1,"stop_reason":"stop"}
None
27 None Travel
{"generation":" Category:Lodging","prompt_token_count":532,"generation_token_count":5,"stop_reason":"stop"}
<re.Match object; span=(25, 32), match='Lodging'>
28 Lodging Lodging
{"generation":"","prompt_token_count":435,"generation_token_count":1,"stop_reason":"stop"}
None
29 None Meals
{"generation":"","prompt_token_count":360,"generation_token_count":1,"stop_reason":"stop"}
None
30 None Lodging
{"generation":"","prompt_token_count":575,"generation_token_count":1,"stop_reason":"stop"}
None
31 None Lodging
{"generation":" Category: Supplies","prompt_token_count":484,"generation_token_count":4,"stop_reason":"stop"}
<re.Match object; span=(26, 34), match='Supplies'>
32 Supplies Supplies
{"generation":"","prompt_token_count":562,"generation_token_count":1,"stop_reason":"stop"}
None
33 None Meals
{"generation":"","prompt_token_count":413,"generation_token_count":1,"stop_reason":"stop"}
None
34 None Meals
{"generation":" Category:Supplies","prompt_token_count":593,"generation_token_count":5,"stop_reason":"stop"}
<re.Match object; span=(25, 33), match='Supplies'>
35 Supplies Supplies
{"generation":"","prompt_token_count":506,"generation_token_count":1,"stop_reason":"stop"}
None
36 None Supplies
{"generation":" Category: Meals","prompt_token_count":349,"generation_token_count":4,"stop_reason":"stop"}
<re.Match object; span=(26, 31), match='Meals'>
37 Meals Meals
{"generation":"","prompt_token_count":722,"generation_token_count":1,"stop_reason":"stop"}
None
38 None Lodging
{"generation":"","prompt_token_count":364,"generation_token_count":1,"stop_reason":"stop"}
None
39 None Meals
{"generation":"","prompt_token_count":416,"generation_token_count":1,"stop_reason":"stop"}
None
40 None Travel
{"generation":"","prompt_token_count":268,"generation_token_count":1,"stop_reason":"stop"}
None
41 None Travel
{"generation":"ION\n\nLodging: The category of \"All\" is not specified.\nSupplies: The category of \"All\" is not specified.\nSupplies: The category of \"All\" is not specified.\nSupplies: The category of \"All\" is not specified.\nSupplies: The category of \"All\" is not specified.\nSupplies: The category of \"All\" is not specified.\nSupplies: The category of \"All\" is not specified.\nSupplies: The category of","prompt_token_count":266,"generation_token_count":100,"stop_reason":"length"}
<re.Match object; span=(22, 29), match='Lodging'>
42 Lodging Travel
{"generation":"","prompt_token_count":577,"generation_token_count":1,"stop_reason":"stop"}
None
43 None Lodging

In [59]:
sum(receipts_nones_nones['predicted_category'] == "None")

26

In [57]:
receipts_nones_nones.loc[0:10]

,receipt_extract,object_name,date,subtotal,total,category,extracted_date,extracted_total,predicted_category
0,"{""NAME"": ""National."", ""items"": {""item0"": ""TIME...",CarRental1.jpg,12/15/2024,355.00,505.63,Travel,12/15/2024,505.63,None
1,"{""ADDRESS"": ""ANCHORAGE INTL AIRPORT\n(ANC)\n50...",CarRental4.jpg,12/19/2024,143.60,210.19,Travel,01/01/1899,210.19,None
2,"{""ADDRESS"": ""LAUREL #1287\n312 FIRST AVE S\nLA...",Groceries1.jpg,12/05/2024,38.46,38.46,Meals,12/05/2024,38.46,Meals
3,"{""ADDRESS"": ""Rockin J\n2993 Highway 78\nAbsaro...",Groceries2.jpg,09/24/2024,22.48,22.48,Meals,09/24/2024,22.48,Meals
4,"{""ADDRESS"": ""ESSENTIAL\nFUELS #5\n2646\nUS-310...",Groceries4.jpg,10/16/2024,22.74,22.74,Meals,10/16/2024,22.74,Travel
5,"{""NAME"": ""EXCHANGE Eielson Shopping Center wGa...",Groceries5.jpg,11/13/2024,1.99,1.99,Meals,11/13/2024,1.99,Meals
6,"{""ADDRESS"": ""EVEN HOTEL 406 BOZEMAN Belgrade B...",Hotel2.jpg,12/18/2024,444.09,444.09,Lodging,01/01/1899,444.09,None
7,"{""ADDRESS"": ""Hampton Inn and Suites by Hilton ...",Hotel5.jpg,11/15/2024,163.56,182.90,Lodging,01/01/1899,182.90,None
8,"{""ADDRESS"": ""AC HOTELS BY MARRIOTT\nAC HOTEL B...",Hotel6.jpg,10/31/2024,747.00,805.56,Lodging,01/01/1899,805.56,None
9,"{""ADDRESS"": ""Courtyard by Marriott Seattle Dow...",Hotel7.jpg,10/28/2024,391.00,461.38,Lodging,01/01/1899,461.38,None
10,"{""ADDRESS"": ""McDonald's\nRestaurant\n#11906\n9...",Meals1.jpg,10/30/2024,11.49,11.49,Meals,10/30/2024,11.49,Meals

In [ ]:
29